flows.json
[{"id":"4d1ea5aa2df487cc","type":"tab","label":"FLOW","disabled":false,"info":"","env":[]},{"id":"6cdb76e7b91b621f","type":"ui_dropdown","z":"4d1ea5aa2df487cc","name":"","label":"","tooltip":"","place":"","group":"b9edbcc2e900bd7d","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Mahankali Surya Tej","value":"Mahankali Surya Tej","type":"str"},{"label":"Pradeepthi","value":"Pradeepthi","type":"str"},{"label":"Rincy","value":"Rincy","type":"str"},{"label":"Supriya","value":"Supriya","type":"str"}],"payload":"","topic":"pay","topicType":"msg","x":360,"y":360,"wires":[["e94f3dadf0756e2e","dcd2e53ad1596ebf"]],"inputLabels":["Pradeepthi"]},{"id":"dcd2e53ad1596ebf","type":"cloudant in","z":"4d1ea5aa2df487cc","name":"","cloudant":"","database":"employee1","service":"node-red-fjjxb-2021--cloudant-1636543843814-8190","search":"_id_","design":"","index":"","x":550,"y":120,"wires":[["f779e7d485e6dde8","80e0e644ae114daa"]]},{"id":"e94f3dadf0756e2e","type":"debug","z":"4d1ea5aa2df487cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]},{"id":"f779e7d485e6dde8","type":"debug","z":"4d1ea5aa2df487cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":120,"wires":[]},{"id":"80e0e644ae114daa","type":"function","z":"4d1ea5aa2df487cc","name":"Parse DB Op","func":"msg.payload=msg.payload.conv\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":340,"wires":[["c365f6531d6a2587","d644a7145454d472"]]},{"id":"c365f6531d6a2587","type":"debug","z":"4d1ea5aa2df487cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"d644a7145454d472","type":"watson-tone-analyzer-v3","z":"4d1ea5aa2df487cc","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/5a5eb705-0278-4b24-b713-93919adf6fb6","x":880,"y":240,"wires":[["855d36b540e52001","1cc1d4f8f413ab8c"]]},{"id":"855d36b540e52001","type":"debug","z":"4d1ea5aa2df487cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":220,"wires":[]},{"id":"1cc1d4f8f413ab8c","type":"function","z":"4d1ea5aa2df487cc","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":380,"wires":[["edb2a2446b2784a7","57d3ef9a28225f2b"]]},{"id":"edb2a2446b2784a7","type":"debug","z":"4d1ea5aa2df487cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":320,"wires":[]},{"id":"57d3ef9a28225f2b","type":"ui_chart","z":"4d1ea5aa2df487cc","name":"","group":"10b372882661977a","order":0,"width":0,"height":0,"label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1271b5","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":500,"wires":[[]]},{"id":"b9edbcc2e900bd7d","type":"ui_group","name":"Select Employee","tab":"aaaca22625294e52","order":1,"disp":true,"width":"6","collapse":false},{"id":"10b372882661977a","type":"ui_group","name":"Sentiment of Conversation","tab":"aaaca22625294e52","order":2,"disp":true,"width":"6","collapse":false},{"id":"aaaca22625294e52","type":"ui_tab","name":"Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]